*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  transition: all 8s ease-in;

}

.bg2{

  background: green;

  

}

.bg2 .slide-container{

  overflow-y: scroll;

  scroll-snap-type: y mandatory;

  height: 100vh;

}

.bg2 .slide-container .slide{

  scroll-snap-align:start;

  height: 100vh;

}/* KOMANSMAN apwopo */

.all-details{
margin:4em auto;
}

.slide .apwopo

{

  display: flex;

  flex-flow: column nowrap;

  justify-content: center;

  align-items: center;

  color: white;

  background: green;

  height: 35vh;

  

}

.apwopo h2

{

  color: white;

  font-size: 6.2em;

  text-transform: uppercase;

}

.apwopo h2:nth-child(2){

  letter-spacing: 7.5;
  font-size:7em;

}

/* KOMANSMNAN VEG*/

.slide .vegapropos

{

  display: flex;

  flex-flow: column nowrap;

  justify-content: center;

  align-items: center;

  color: green;

  background: white;

  height: 30vh;

  

}

.vegapropos h2

{

  color: green;

  font-size: 12em;

  text-transform: uppercase;

}

.vegapropos h2:nth-child(1) , .vegapropos h2:nth-child(3)

{

  font-size: 5.72em;

}

.vegapropos h2:nth-child(2)

{

  font-weight: bold;

  letter-spacing: 4;

}

/* Glise monte */

.slide .glise-monte

{

  display: flex;

  flex-flow: column nowrap;

  justify-content: center;

  align-items: center;

  color:white;

  background: green;

  height: 35vh;

  

}

.slide .glise-monte{
  display:flex;
  justify-content:center;
  align-items:center;

}

.glise-monte i
{
color:white;
font-size:12em;
}

.glise-monte h2{
font-size:4em;
}

.slide .full-details{

  color: white;

  margin: 2.3em 0;

  padding: 0 1em;

}

.full-details .header-details{

  display: flex;

  align-items: center;

  gap:25px;

  margin-bottom: 0.55em;

  font-weight: bold;

  text-transform: uppercase;
  font-size:2em;

}

.full-details .explication-details{

  font-weight: 300;

  word-spacing: 1.2;

  text-align: justify;

  text-transform: capitalize;
  font-size:1.65em;
}